
.icon-download-alt:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
