    <div id="cookie-banner" class="cookie-overlay">
        <div class="cookie-container">
            <h3>Polityka Prywatności</h3>
            <p>Nasza strona korzysta z plików cookies w celu poprawy jakości usług. Czy wyrażasz zgodę na przetwarzanie danych zgodnie z naszą <a href="/regulamin.pdf">Polityką Prywatności</a>?</p>
            <div class="cookie-btns">
                <button id="cookie-accept" class="btn cookie-btn-accept">Akceptuję</button>
                <button id="cookie-reject" class="btn cookie-btn-reject">Odrzucam</button>
            </div>
        </div>
    </div>
    
    <script is:inline src="/js/scripts.js"></script>