<nav id="menu">
    <div class="container menu-flex">
        <div id="logo">
            <img src="/logo.png" alt="Logo Pas-Trans">
        </div>
        <button class="menu-toggle" aria-label="Otwórz menu">
            <span></span><span></span><span></span>
        </button>
            <ul class="nav-links">
            <li><a href="/">STRONA GŁÓWNA</a></li>
            <li><a href="/aktualnosci/index.html">AKTUALNOŚCI</a></li>
            <li><a href="/#opinie">OPINIE</a></li>
            <li><a href="/#galeria-slider">GALERIA</a></li>
            <li><a href="/nasza-flota/">NASZA FLOTA</a></li>
            <li><a href="#kontakt">KONTAKT</a></li>
        </ul>
    </div>
</nav>